[submodule "infra/shared"]
	path = infra/shared
	url = https://gitlab.com/mirador1/mirador-service-shared.git
[submodule "infra/common"]
	path = infra/common
	url = https://gitlab.com/mirador1/mirador-common.git
